<button (click)="addOrderPopup()">Add new order</button>

<div class="container">
  <div *ngFor="let order of showOrdersNumber() | keyvalue" class="card">
      <div class="card-body" (click)="showOrderPopup(order.key)">
        <button (click)="modifyOrder($event)">Modify order</button>
        <button *ngIf="isReady(order.key)">Ready</button>
        <h5>Table {{order.value}} </h5>
        <p>Order number: {{order.key}} </p>
      </div>
  </div>
</div>

<div *ngIf="popup.showed && popup.type === 'INFO'" class="popup-overlay">
  <div class="popup-content">
    <button class="close-button" (click)="closePopup()">X</button>
    <h4>Order {{popup.orderNumber}}:</h4>
      <div *ngFor="let dish of popup.dishesQuantity | keyvalue">
        {{dish.key}} - Quantity: {{dish.value}}
      </div>
  </div>
</div>

<div *ngIf="popup.showed && popup.type === 'ADD'" class="popup-overlay">
  <div class="popup-content">
    <button class="close-button" (click)="closePopup()">X</button>
    <h3>Table {{popup.tableNumber}}</h3>
    <div *ngFor="let selection of popup.selections; let i = index;">
      <div class="selection-row">
        <select [(ngModel)]="selection.dish">
          <option *ngFor="let dish of dishOptions" [value]="dish">{{ dish }}</option>
        </select>
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" [(ngModel)]="selection.quantity">
        <button (click)="deleteSelection(i)">Delete</button>
      </div>
    </div>
    <button (click)="addSelection()">+</button>
    <button (click)="closePopup()"> Confirm </button>
  </div>
</div>