<br>
<button *ngIf="this.us.hasRole('Admin')" class="btn btn-danger" (click)="backToAdmin()">Back to Admin</button>
<button class="btn btn-danger float-end" (click)="logout()">Logout</button>
<br>
<div class="container">
  
  <ul class="nav nav-tabs justify-content-center" style="font-weight: bold">
    <li class="nav-item">
      <button class="nav-link{{page === Page.TABLES ? ' active' : ''}}" (click)="changeStatus(Page.TABLES)">Show tables</button>
    </li>
    <li class="nav-item">
      <button class="nav-link{{page === Page.ORDERS ? ' active' : ''}}"  (click)="changeStatus(Page.ORDERS)">Show orders</button>
    </li>
    <li class="nav-item">
      <button class="nav-link{{page === Page.RECEIPTS ? ' active' : ''}}"  (click)="changeStatus(Page.RECEIPTS)">Show receipts</button>
    </li>
    <li class="nav-item">
      <button class="nav-link{{page === Page.STATS ? ' active' : ''}}" (click)="changeStatus(Page.STATS)">Show stats</button>
    </li>
  </ul>
    
  <br>
  <br>
  <h2>{{page}}</h2>
  <div *ngIf="page === Page.TABLES">
    <app-table-component [tables]="tables" [orders]="orders" (receiptEvent)="createReceipt($event)"></app-table-component>
  </div>
    <div *ngIf="page === Page.RECEIPTS">
      <app-receipts-list [receipts]="receipts" (openReceiptPopup)="showReceiptPopup($event)"></app-receipts-list>
    </div>
    <div *ngIf="page === Page.ORDERS">
      <app-order-list [orderDishes]="orders"></app-order-list>
    </div>
  <div *ngIf="page === Page.STATS">
    <app-stats-page [users]="users" [statsUserRole]="statsUserRole" [statsFoods]="receiptStatsFoods" [statsDrinks]="receiptStatsDrinks" [statsProfitMonth]="profitStatsMonth" [statsProfitYear]="profitStatsYear" (set_last_year)="set_LAST_YEAR($event)"></app-stats-page>
  </div>
</div>

<!-- d-block" tabindex="-1" role="dialog"-->

<div [class]="popup.showed ? 'modal show d-block' : 'modal'" tabindex="-1" role="dialog" id="modalReceipt" style="background-color: rgba(0, 0, 0, 0.5);" #modalReceipt>
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" (click)="closePopup()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="receipt-header">
            <h3 class="receipt-title">ctrl SERVED</h3>
          </div>
          <hr>
          <div class="receipt-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="dish-collumn">Dish</th>
                  <th class="price-column">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dish of popup.receipt?.dishes">
                  <td class="dish-column">{{dish.name}}</td>
                  <td class="price-column">€ {{dish.price}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr>
          <div class="receipt-footer">
            <div class="total">
              <span class="total-label">Total: </span>
              <span class="total-price">€ {{popup.receipt?.price}}</span>
            </div>
            <p class="receipt-date-time">{{popup.receipt?.date}} - {{popup.receipt?.hour}}</p>
            <div class="waiter">
              <span>Waiter: {{popup.receipt?.waiterId?.name}} {{popup.receipt?.waiterId?.surname}}</span>
            </div>
            <br>
            <button type="button" class="btn btn-success float-end" #downloadButton (click)="downloadReceipt(popup.receipt?.date?.toString()); closePopup()">Download Receipt</button>
          </div>
        </div>
      </div>
  </div>
</div>

<div id="download">
  <img style="display: none;" #canvas id="canvas">
  <a style="display: none;" #downloadLink></a>
</div>



