<br>
<button class="btn btn-danger float-end" (click)="logout()">Logout</button>
<br>
<ul class="nav nav-tabs justify-content-center" style="font-weight: bold">
  <li class="nav-item">
    <button class="nav-link{{page === Page.USER ? ' active' : ''}}" aria-current="page" style="color: green" (click)="changePage(Page.USER)">User Management</button>
  </li>
  <li class="nav-item">
    <button class="nav-link{{page === Page.TABLE ? ' active' : ''}}" style="color: green;" (click) = "changePage(Page.TABLE)">Table Management</button>
  </li>
  <li class="nav-item">
    <button class="nav-link{{page === Page.MENU ? ' active' : ''}}" style="color: green;" (click)="changePage(Page.MENU)">Menu Management</button>
  </li>
</ul>
<br>

<app-user-management *ngIf="page === Page.USER" [users]="users" (loadUsers)="loadUsers()"></app-user-management>
<app-table-management *ngIf="page === Page.TABLE" [tables]="tables"></app-table-management>
<app-menu-management *ngIf="page === Page.MENU"></app-menu-management>
