<br>
<button (click)="logout()" class="btn btn-danger float-end">Logout</button>
<button *ngIf="this.us.hasRole('Admin')" class="btn btn-danger" (click)="backToAdmin()">Back to Admin</button>

<ul class="nav nav-tabs justify-content-center" style="font-weight: bold;">
  <li class="nav-item">
    <button class="nav-link{{page === Page.TABLES ? ' active' : ''}}" (click)="changePage(Page.TABLES)">Show tables</button>
  </li>
  <li class="nav-item">
    <button class="nav-link{{page === Page.ORDERS ? ' active' : ''}}"  (click)="changePage(Page.ORDERS)">{{getStringOrder()}}</button>
  </li>
</ul>

<br><br>
<div *ngIf="getStringOrder() == 'Show order (one order ready)'" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Hey guacamole!</strong> An order is ready!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
<span *ngIf="page === Page.TABLES">
  <app-table-component (post) = modifyTable($event) [tables]="tables" [orders]="orders"></app-table-component>
</span>
<span *ngIf="page === Page.ORDERS">
  <app-order-list [tables]="filterWaiterTable()" [orderDishes]="orders"></app-order-list>
</span>
