<br>
<div class="container">
  <div *ngFor="let order of queue; let i=index">
    <div class="card" (click)="openPopup(i)">
      <div class="card-body">
        <h5 class="card-title">{{order.begin ? order.dish.name + " - (In preparation)" : order.dish.name}}</h5>
        <p>Order Number: {{order.orderNumber}}</p>
        <p>Preparation Time: {{order.dish.productionTime}}</p>
        <p *ngIf="order.begin">Iniziato</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="popup.showed" class="modal show d-block" tabindex="-1" role="dialog" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ popup.name }}</h5>
        <button type="button" class="btn-close" (click)="closePopup()" data-bs-dismiss="modal" aria-label="Close"> </button>
      </div>
      <div class="modal-body">
          <h3>{{popup.begin ? "Have you finished?" : "Wanna start preparing amo?"}}</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="changeStatus(popup.id); closePopup()" data-bs-dismiss="modal">{{popup.begin?"Finish preparation":"Start preparation"}}</button>
      </div>
    </div>
  </div>
</div>
