<br>
<div class="container">

  <ul class="nav nav-tabs justify-content-center" style="font-weight: bold">
    <li class="nav-item">
      <button class="nav-link{{currentStatsPage === Stats.ROLE && pageRole === Role.COOK ? ' active' : ''}}" (click)="buildStatsRole(Role.COOK)">Show cooks statistics</button>
    </li>
    <li class="nav-item">
      <button class="nav-link{{currentStatsPage === Stats.ROLE && pageRole === Role.BARTENDER ? ' active' : ''}}" (click)="buildStatsRole(Role.BARTENDER)">Show bartenders statistics</button>
    </li>
    <li class="nav-item">
      <button class="nav-link{{currentStatsPage === Stats.ROLE && pageRole === Role.WAITER ? ' active' : ''}}" (click)="buildStatsRole(Role.WAITER)">Show waiters statistics</button>
    </li>
    <li class="nav-item">
      <button class="nav-link{{currentStatsPage === Stats.ROLE && pageRole === Role.CASHIER ? ' active' : ''}}"  *ngIf="this.us.hasRole('Admin')" (click)="buildStatsRole(Role.CASHIER)">Show cashiers statistics</button>
    </li>
    <li class="nav-item">
      <button class="nav-link{{currentStatsPage === Stats.DISHES ? ' active' : ''}}" (click)="buildOtherStats(Stats.DISHES)">Show dishes statistics</button>
    </li>
    <li class="nav-item">
      <button class="nav-link{{currentStatsPage === Stats.PROFITS ? ' active' : ''}}" (click)="buildOtherStats(Stats.PROFITS)">Show profit statistics</button>
    </li>
  </ul>  
 
</div>

<br><br>
<div class="chart-container" *ngIf="currentStatsPage === Stats.ROLE && pageRole !== Role.WAITER">
  <ngx-charts-bar-vertical
    [results]="statsUserRole[pageRole]"
    [gradient]="verticalBarOptions.gradient"
    [xAxis]="verticalBarOptions.showXAxis"
    [yAxis]="verticalBarOptions.showYAxis"
    [showXAxisLabel]="verticalBarOptions.showXAxisLabel"
    [showYAxisLabel]="verticalBarOptions.showYAxisLabel"
    [xAxisLabel]="verticalBarOptions.xAxisLabel"
    [yAxisLabel]="verticalBarOptions.yAxisLabel"
    [barPadding]="verticalBarOptions.barPadding"
    [showGridLines]="verticalBarOptions.showGridLines"
    [rotateXAxisTicks]="verticalBarOptions.rotateXAxisTicks"
    style="height: 500px;"
  ></ngx-charts-bar-vertical>
</div>
<div class="chart-container" *ngIf="pageRole === Role.WAITER && currentStatsPage === Stats.ROLE">
  <ngx-charts-bar-vertical
    [results]="statsUserRole[pageRole]['tablesServed']"
    [gradient]="verticalBarOptions.gradient"
    [xAxis]="verticalBarOptions.showXAxis"
    [yAxis]="verticalBarOptions.showYAxis"
    [showXAxisLabel]="verticalBarOptions.showXAxisLabel"
    [showYAxisLabel]="verticalBarOptions.showYAxisLabel"
    [xAxisLabel]="verticalBarOptions.xAxisLabel"
    [yAxisLabel]="verticalBarOptions.yAxisLabel[2]"
    [barPadding]="verticalBarOptions.barPadding"
    [showGridLines]="verticalBarOptions.showGridLines"
    [rotateXAxisTicks]="verticalBarOptions.rotateXAxisTicks"
    style="height: 500px;"
  ></ngx-charts-bar-vertical>
  <ngx-charts-bar-vertical
    [results]="statsUserRole[pageRole]['customersServed']"
    [gradient]="verticalBarOptions.gradient"
    [xAxis]="verticalBarOptions.showXAxis"
    [yAxis]="verticalBarOptions.showYAxis"
    [showXAxisLabel]="verticalBarOptions.showXAxisLabel"
    [showYAxisLabel]="verticalBarOptions.showYAxisLabel"
    [xAxisLabel]='verticalBarOptions.xAxisLabel'
    [yAxisLabel]="verticalBarOptions.yAxisLabel[1]"
    [barPadding]="verticalBarOptions.barPadding"
    [showGridLines]="verticalBarOptions.showGridLines"
    [rotateXAxisTicks]="verticalBarOptions.rotateXAxisTicks"
    style="height: 500px;"
  ></ngx-charts-bar-vertical>
  <ngx-charts-bar-vertical
    [results]="statsUserRole[pageRole]['dishesServed']"
    [gradient]="verticalBarOptions.gradient"
    [xAxis]="verticalBarOptions.showXAxis"
    [yAxis]="verticalBarOptions.showYAxis"
    [showXAxisLabel]="verticalBarOptions.showXAxisLabel"
    [showYAxisLabel]="verticalBarOptions.showYAxisLabel"
    [xAxisLabel]="verticalBarOptions.xAxisLabel"
    [yAxisLabel]="verticalBarOptions.yAxisLabel[0]"
    [barPadding]="verticalBarOptions.barPadding"
    [showGridLines]="verticalBarOptions.showGridLines"
    [rotateXAxisTicks]="verticalBarOptions.rotateXAxisTicks"
    style="height: 500px;"
  ></ngx-charts-bar-vertical>
</div>

<div class="pie-chart-container" *ngIf="currentStatsPage == Stats.DISHES">
  <div class="pie-chart-wrapper">
    <ngx-charts-advanced-pie-chart [results]="statsFoods"></ngx-charts-advanced-pie-chart>
  </div>
  <div class="pie-chart-wrapper">
    <ngx-charts-advanced-pie-chart [results]="statsDrinks"></ngx-charts-advanced-pie-chart>
  </div>
</div>
<div class="chart-container" *ngIf="currentStatsPage == Stats.PROFITS">
  <ngx-charts-bar-vertical
    [results]="statsProfitMonth"
    [gradient]="verticalBarOptions.gradient"
    [xAxis]="verticalBarOptions.showXAxis"
    [yAxis]="verticalBarOptions.showYAxis"
    [showXAxisLabel]="verticalBarOptions.showXAxisLabel"
    [showYAxisLabel]="verticalBarOptions.showYAxisLabel"
    [xAxisLabel]="verticalBarOptions.xAxisLabel"
    [yAxisLabel]="verticalBarOptions.yAxisLabel"
    [barPadding]="verticalBarOptions.barPadding"
    [showGridLines]="verticalBarOptions.showGridLines"
    [rotateXAxisTicks]="verticalBarOptions.rotateXAxisTicks"
    style="height: 500px;"
  ></ngx-charts-bar-vertical>
  <div>
    <div class="float-end" style="margin-right: 10px; margin-top: 50px">
      <input *ngIf="currentStatsPage == Stats.PROFITS" type="text" class="form-control" placeholder="Different between last years"  (change)="setLastsYear($event)"/>
    </div>
    <ngx-charts-bar-vertical
      [results]="statsProfitYear"
      [gradient]="verticalBarOptions.gradient"
      [xAxis]="verticalBarOptions.showXAxis"
      [yAxis]="verticalBarOptions.showYAxis"
      [showXAxisLabel]="verticalBarOptions.showXAxisLabel"
      [showYAxisLabel]="verticalBarOptions.showYAxisLabel"
      [xAxisLabel]="verticalBarOptions.yearProfit"
      [yAxisLabel]="verticalBarOptions.yAxisLabel"
      [barPadding]="verticalBarOptions.barYearPadding"
      [showGridLines]="verticalBarOptions.showGridLines"
      [rotateXAxisTicks]="verticalBarOptions.rotateXAxisTicks"
      style="heigth: 100%; width: 100%"
    ></ngx-charts-bar-vertical>
  </div>
</div>
<!--      style="height: 500px; width: auto"-->







