.container-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chart-container ngx-charts-x-axis, .chart-container ngx-charts-y-axis {
  font-size: 30px;
  font-weight: bold;
}

.pie-chart-container {
  width: 1600px;
  height: 1600px;
  display: flex;
  z-index: -10;
  display: inline-block;
  margin-top: -65px;
  margin-bottom: -400px;
  overflow: hidden;
}

.pie-chart-wrapper.overlap {
  position: absolute;
  margin-top: -200px;
  z-index: -11;
}

.chart-container {
  width: 40%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.advanced-pie-legend-wrapper {
  z-index: -10;
}